<div class="jumbotron">
  <h1>18K Offer</h1>
  <p class="slogan">18K Offer 是一个提供18K薪水工作机会的求职网站。
    <br>
    我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
    <br>
    凭借自己的努力和天份也会变 Winner
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://i1.piimg.com/567571/5fd7d9b7bd7ec15e.png" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>火星登陆号</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://i1.piimg.com/567571/637016c2fe37ca33.png" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>ningxia@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://i1.piimg.com/567571/55fb688223470531.png" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>0086-12345678</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
